.contactsPage {
  margin: 0 auto;
  max-width: var(--content-width-max);
}

.container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  background-color: white;
  padding: 20px 40px;
  border-radius: 4px;

  @media (Max-width: 800px) {
    padding: 20px;
    border-radius: 16px;
  }
}

.title {
  font-size: 28px;
  font-weight: 700;
}

.contactsContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contactsRow {
  display: flex;
  align-items: flex-end;
  align-items: center;
  gap: 12px;
}

.contactsName {
  font-size: 20px;
}

.tel {
  transition: all .1s ease-in-out;

  &:hover {
    color: var(--primary);
  }
}

.map {
  display: flex;
  max-width: 100%;
}