.contactsPage {
  margin: 0 auto;
  max-width: var(--content-width-max);
}

.container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  background-color: white;
  padding: 20px 40px;
  border-radius: 4px;

  @media (Max-width: 800px) {
    padding: 20px;
    border-radius: 16px;
  }
}

.title {
  font-size: 28px;
  font-weight: 700;
}

.contactsContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (max-width: 530px) {
    max-width: 100%;
    font-size: 20px;
    gap: 30px;
  }
}

.contactsRow {
  display: flex;
  align-items: flex-end;
  align-items: center;
  gap: 12px;

  @media (max-width: 530px) {
    flex-direction: column;
    gap: 8px;
  }
}

.contactsName {
  font-size: 20px;
}

.contactsAddress {
  text-align: center;
}

.tel {
  transition: all .1s ease-in-out;

  &:hover {
    color: var(--primary);
  }
}

.map {
  width: 100%;
  display: flex;
}

.mapContainer {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.link1,
.link2,
.link3 {
  position: 'absolute';
  top: 0;
  color: '#eee';
  font-size: '12px';
}

.link2 {
  top: 14px;
}

.link3 {
  top: 28px;
}

.mapFrame {
  width: 100% !important;
  height: 300px;
}