.link {
  min-width: 178px;
  padding: 8px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary);
  background-color: white;
  border-radius: 4px;
  font-size: 18px;
  transition: all .2s ease-in-out;

  @media (hover: hover) {
    &:hover {
      color: rgb(254, 5, 5);
      background-color: #f9ccd3;
    }
  }

  @media (max-width: 1024px) {
    min-width: 164px;
  }
}


.wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.animatedBtn {
  min-width: 160px;
  min-height: 60px;
  display: inline-flex;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #ffffff;
  background: var(--primary);
  background: linear-gradient(90deg, rgb(251, 92, 111) 0%, rgb(252, 39, 56) 100%);
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(247, 82, 93, 0.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px 20px;
  }

.animatedBtn::before {
content: '';
  border-radius: 1000px;
  min-width: calc(160px + 12px);
  min-height: calc(60px + 12px);
  border: 6px solid #f73148;
  box-shadow: 0 0 60px rgba(244, 63, 108, 0.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s;
}

.animatedBtn:hover, 
.animatedBtn:focus {

  transform: translateY(-6px);
}

.animatedBtn:hover::before, 
.animatedBtn:focus::before {
  opacity: 1;
  padding: 4px 24px;
}

.animatedBtn::after {
  content: '';
  width: 30px; height: 30px;
  border-radius: 100%;
  border: 6px solid #f52d48;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

.animatedBtn:hover::after, 
.animatedBtn:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 160px;
    height: 160px;
    opacity: 0;
  }
}